.hero {
  padding: 3rem 0 6rem 0;
  background-color: #495E57;
  position: relative;
  overflow: visible;
}

.hero .container {
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-information {
  grid-column: 1;
  padding-bottom: 2rem;
}

.hero-information h1 {
  color: #F4CE14;
}

.hero-information h2 {
  color: #FFFFFF;
  margin-top: -0.5rem;
}

.hero-information p {
  margin-top: 1.5rem;
  color: #FFFFFF;
  line-height: 1.6;
  font-size: 1.125rem;
}

.hero-information .button-primary {
  display: inline-block;
  margin-top: 2rem;
}

.hero-information .button-primary:hover,
.hero-information .button-primary:focus {
  border-color: #F4CE14;
}

.hero-image {
  grid-column: 2;
  width: 100%;
  height: 26rem;
  justify-self: end;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 792px) {
.hero {
  padding: 2rem 0 3rem 0;
}

.hero .container {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.hero-information {
  grid-row: 1;
  padding-bottom: 0;
}

.hero-information p {
  font-size: 1rem;
}

.hero-image {
  grid-column: 1;
  grid-row: 2;
  height: 20rem;
}
}
